<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.integraresoftware.android.emsbuddy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
    <!--android:debuggable="false"-->

        <activity
            android:name="com.integraresoftware.emsbuddy.MainActivity"
            android:label="@string/protocol_region" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.integraresoftware.emsbuddy.ListDrugsActivity"
            android:label="@string/title_activity_list_drugs" >
        </activity>

        <activity
            android:name="com.integraresoftware.emsbuddy.ActivityDisplayList"
            android:label="@string/title_activity_select_prot_cat"
            android:parentActivityName="com.integraresoftware.emsbuddy.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.integraresoftware.emsbuddy.MainActivity" />
        </activity>

        <activity
            android:name="com.integraresoftware.emsbuddy.ActivityDisplaySection"
            android:label="@string/title_activity_select_prot_cat"
            android:parentActivityName = "com.integraresoftware.emsbuddy.ActivityDisplayList" >
            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = "com.integraresoftware.emsbuddy.DisplayListActivity" />
        </activity>

        <activity
            android:name="com.integraresoftware.emsbuddy.ActivityDisplaySubsection"
            android:parentActivityName="com.integraresoftware.emsbuddy.ActivityDisplaySection" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.integraresoftware.emsbuddy.DisplayProtocolSectionActivity" />
        </activity>

        <activity android:name="com.integraresoftware.emsbuddy.ActivityDisplayManagement"
            android:parentActivityName="com.integraresoftware.emsbuddy.ActivityDisplaySection" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.integraresoftware.emsbuddy.DisplayProtocolSectionActivity" />
        </activity>

        <activity android:name="com.integraresoftware.emsbuddy.ActivityZoomImage">
        </activity>

        <activity android:name="com.integraresoftware.emsbuddy.calculators.ActivityCalculatorList">
        </activity>

        <activity android:name="com.integraresoftware.emsbuddy.calculators.ActivityDopamineCalculator">
        </activity>

        <provider
            android:authorities="com.integraresoftware.emsbuddy.data.DbProvider"
            android:name="com.integraresoftware.emsbuddy.data.DbProvider"
            android:exported="false" >
        </provider>
    </application>

</manifest>
